form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid 1px #ccc;
  border-radius: 10px;
  width: 340px;
  padding: 20px;

  div {
    padding: 16px 0;
  }
}

.full-width {
  width: 100%;
}



